.main {
  margin: 0 12.5%;
  height: 100vh;
}

.contentTitle {
  @apply text-4xl;
  @apply text-left;
  @apply text-grey20;
  @apply mb-3;
  @apply mt-7;
  letter-spacing: -1px;
}

.description {
  @apply text-heading-small;
  @apply text-left;
  @apply text-grey20;
  @apply mb-5;
}
